<app-header></app-header>

<div class="container-fluid d-flex flex-column align-items-center">
  <div>
    <div>
      <h1 class="text-center mt-3">Análise de Processos Judiciais</h1>
      <p class="text-center">Visualização de dados de processos judiciais com gráficos interativos.</p>
    </div>
    <div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      @if(!carregandoGeo){
      <app-grafico-mapa [dados]="dadosMapa"></app-grafico-mapa>
      }
    </div>
    <div class="col">
      @if(!carregandoPizza){
      <app-grafico-pizza [dados]="dadosPizza"></app-grafico-pizza>
      }
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      @if(!carregandoBar){
      <app-grafico-barra [dados]="dadosBarra"></app-grafico-barra>
      }
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
